{% macro confirm_modal(id, title, message, confirm_label='Confirm', confirm_class='danger') -%}
  <div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">{{ message }}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-{{ confirm_class }} js-confirm">{{ confirm_label }}</button>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}